<div class="container">
  <div class="row" >
    <div class="col col-12" [formGroup]="polygonForm">
        <div formArrayName="polygonArray" #arrayList>
            <input (focus)="setSelected(i)" *ngFor="let point of arr.controls; let i=index" type="text" [formControlName]="i">
        </div>
    </div>
  </div>
    <div class="row">
        <button (click)="addControl()"> add (+)</button>
        <button (click)="removeControl()"> Remove (-)</button>
    </div>
    <div>
      {{arr.value | json}}
      {{selected | json}}
    </div>
</div>